.show {
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    z-index: 10px;
    filter: alpha(opacity: 10);
    opacity: 0.1;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.imgSmall {
    padding-top: 10px;
    white-space: nowrap;
    overflow-y: auto;
}
.imgSmall img {
    width: 100px;
    display: inline;
    cursor: pointer;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.imgSmall::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background-color: #f5f5f5;
}
/*定义滚动条的轨道，内阴影及圆角*/
.imgSmall::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
/*定义滑块，内阴影及圆角*/
.imgSmall::-webkit-scrollbar-thumb {
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)!important;
    background-color: #555 !important;
}
#div2 {
	width: 90%;
	height: 90%;
	position: absolute;
	display: none;
	overflow: hidden;
	margin: 0px auto 0px;
	z-index: 1000;
	height: 350px;
}

/*发票 配送 付款方式*/
.basicServer {
    border: 1px solid #EEEEEE;
    background: #F7F7F7;
    margin-left: 0;
    margin-right: 0
}

.basicServer .col-md-4 {
    padding: 10px 10px;
    border-right: 1px solid #EEEEEE;
    padding-left: 45px
}

.basicServer .col-md-4 span {
    font-size: 13px;
    color: #727272;
}

.panel, 
.panel-heading,
.panel-body {
	border-radius: 0 !important;
	border-color: #DDD;
}

.small-col .panel-body {
	border: none;
}

#serviceInfo .btn {
	border-radius: 0;
	margin-bottom: 2px;
}

#comment i, 
#providerInfo i {
	color: orange;
}

.tab-info .panel-body {
    padding-top: 4px;
    padding-bottom: 0px; 
    border-style: none; 
    margin-bottom: 0;
}

.tab-info p {
    font-size: 14px;
    margin-bottom: 18px;
}

.nav-list .btn-default {
    color: #000;
    background-color: #FFF;
    border-color: CCC;
    border-radius: 0; 
    padding: 8px 15px 8px 15px;
    margin-right: 10px;
}

.nav-list .active .btn-default {
    color: #FFF;
    background-color: #337cbb;
}

#rightNow,
#addCart,
#btnCollection {
    padding: 10px 30px;
    margin-left: 15px;
    border-radius: 0px;
}

#rightNow {
    border: 1px solid #F15616;
    color: #F15616 !important;   
    background: #FDEAD9;
}

#addCart {
    background: #F15616;
    border: none;
    color: #FFFFFF;
    
}
