<!DOCTYPE html>
<html>
<head>
<title> 云材网产品管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<link rel="stylesheet" href="../public/yun_libs/select2.css"  />
<link rel="stylesheet" href="../public/css/webuploader.css"  />
<link rel="stylesheet" href="../public/css/style.css"  />
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/yun_libs/select2.js"></script>
<script src="../public/libs/webuploader.js"></script>
<script src="../public/libs/uploader.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
	  <div v-show="showSure">
		<div class="grid-btn">
			<a v-if="hasPermission('sys:product:info')" class="btn btn-primary" @click="info"><i class="fa fa-ravelry"></i>&nbsp;详情</a>
			<a v-if="hasPermission('sys:product:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('sys:product:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a v-if="hasPermission('sys:product:save')" class="btn btn-primary" @click="add"><i class="fa fa-trash-o"></i>&nbsp;新增</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
	  </div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品名称</div>
			   	<div class="col-sm-10">
			      <input  type="text" class="form-control" v-model="product.name" placeholder="产品名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品分类</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.cName" placeholder="产品分类"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品品种</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.sCName" placeholder="产品品种"/>
			    </div>
			</div>
			
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品别名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.aliasName" placeholder="产品别名"/>
			    </div>
			</div>
			
		
			<div class="form-group">
			   	<div class="col-sm-2 control-label">市场价</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.price" placeholder="市场价"/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">最后修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.editTime" placeholder="最后修改时间"/>
			    </div>
			</div>
	

			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
	<!-- 		<input  type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/> -->
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
	
	
    <div v-show="!showSure" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.name" placeholder="产品名称"/>
			    </div>
			</div>
<!-- 			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品分类</div>
			   	<div class="col-sm-10">
			      <select  id ="category" class="form-control"  v-model="product.cName" placeholder="产品分类">
			      
			      </select>
			    </div>
			</div>
			
		    <div class="form-group">
			   	<div class="col-sm-2 control-label">产品品种</div>
			   	<div class="col-sm-10">
			      <select  id="subCategoryName" class="form-control"  v-model="product.sCName" placeholder="产品品种">
			      
			      </select>
			    </div>
			</div> -->
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品分类</div>
			   	<div class="col-sm-10">
			          <select  name="cName" v-model="product.cName" class="form-control" placeholder="产品分类">
			              <option v-for="option in c" v-bind:value="option.value" >
			                {{ option.text }}
			              </option>
		              </select>
	             </div>
	             </div>
	             
		    <div class="form-group">
			   	<div class="col-sm-2 control-label">产品品种</div>
			   	<div class="col-sm-10">
			         <select name="sCName" v-model="product.sCName" class="form-control" placeholder="产品品种">
				          <option v-for="option in s" v-bind:value="option.value" >
				            {{ option.text }}
				          </option>
			         </select>
		        </div>
	       </div>
	           
			
				
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品别名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.aliasName" placeholder="产品别名"/>
			    </div>
			</div>
	
		
			<div class="form-group">
			   	<div class="col-sm-2 control-label">上游产品</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.upName" placeholder="产品别名"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">市场价</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.price" placeholder="市场价"/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品材质</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.material" placeholder="产品材质"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品单位</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="product.unit" placeholder="产品单位"/>
			    </div>
			</div>
		
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input  type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		
		</form>
	</div>
</div>

<script src="../public/js/bg/product.js"></script>
</body>
</html>