<!DOCTYPE html>
<html>
<head>
<title> 云材网资源单</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a v-if="hasPermission('sys:resource:listMy')" class="btn btn-primary" @click="my"><i class="fa fa-plus"></i>&nbsp;我的资源单</a>
			<a v-if="hasPermission('sys:resource:permit')" class="btn btn-primary" @click="permit"><i class="fa fa-pencil-square-o"></i>&nbsp;审核</a>
			<a v-if="hasPermission('sys:resource:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">资源单名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.name" placeholder="资源单名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">公司抬头</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.companyHead" placeholder="公司抬头"/>
			    </div>
			</div>
			
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发布时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.uploadTime" placeholder="发布时间"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">地区</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.district" placeholder="地区"/>
			    </div>
			</div>

			<div class="form-group">
			   	<div class="col-sm-2 control-label">商品类别</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.category" placeholder="商品类别"/>
			    </div>
			</div>
	

			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">下载次数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.downloadtimes" placeholder="下载次数"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">发布人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="resource.providername" placeholder="发布人"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">审批状态</div>
			   	<div class="col-sm-10">		
			      <select title="审批状态" class="form-control" v-model="resource.isPermit" placeholder="审批状态">
			        <option value = "1">通过</option>
			        <option value = "0">不通过</option>
			      </select>		      
			    </div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../public/js/bg/resource.js"></script>
</body>
</html>