.tab-content{
  border: 1px solid #ddd;
border-top: 0 !important;
}
thead th{ 
  padding: 20px 0 20px 10px !important;
  width: 12.5%;
}
thead tr{
  background: #E7E5E6
}
td{
  padding-left: 10 !important;
  padding-right: 0 !important:;
}
